<!-- Renders the Header -->

<%- include('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body class="no-bg">


<!-- About Us Section -->
<section class="intro-section">
    <br>
    <h2 class="intro-title">WE ARE KNEE DOWN</h2>
    <img src="/images/rz54.png" alt="Intro Image" class="intro-image">
    <div class="intro-text-block">
    <h3>ABOUT US</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque odit nemo adipisci deleniti, neque quod earum accusamus quam nisi dolor magni id doloremque officiis similique. Sequi expedita tenetur dolores laborum!
    </p>
    </div>
</section>

<!-- OUR TEAM -->
    <section class="team-section">
    <h2 class="section-title">OUR TEAM</h2>

    <!--
        Renders the team member section at the bottom of the page
    -->
    <div class="team-grid">

        <% data.forEach(member => { %>
            <div class="team-card">
                <img src="<%= member.image %>" alt="Team Member <%= member.number %>">
                <div class="team-info">
                    <h3><%= member.name %></h3>
                    <p><%= member.role %></p>
                </div>
            </div>
        <% }) %>

    </div>
    </section>
<!-- Renders the Footer -->
<%- include('../partials/footer') %>
</body>
</html>